/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Choose a color */
    --hue-color: 250;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: '', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;


    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: var(--body-font);
}

/*==================== REUSABLE CSS CLASSES ====================*/
/*==================== BUTTONS ====================*/
/*==================== LAYOUT ====================*/
/*==================== NAV ====================*/
.nav {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    z-index: 1000;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}

.nav__logo {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.nav__item {
    margin: 0 5px;
}

.nav__button .nav__icon{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.nav__link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.nav__link:hover{
    color: #111;
    background: #fff;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    .nav{
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    .nav__button .nav__icon{
        display: block;
    }

    .nav__list{
        z-index: 1000;
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    .nav__item{
        width: 100%;
        margin: 40px 0;
    }

    .nav__link{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    .nav__link:hover{
        background: none;
        color: cyan;
    }
}
/* Active link */

/* Change background header */

/*==================== HOME ====================*/

.home::after{
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(../images/pexels-fernando-arcos-190819.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(4px);
    transition: all 1000ms;
}

.home:hover::after{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.home__background:hover{
    filter: blur(2px);
    /* -webkit-filter: blur(2px); */
}

.home__background{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.home__title{
    margin-left: -80px;
    color: #fff;
    font-size: 6rem;
    margin-top: 1rem;
}

.home__subtitle{
    color: white;
    line-height: 1.7;
    margin-top: 1rem;
}

@media (max-width: 560px){
    .home::after{
        height: 50vh;
    }

    .home__background{
        top: 5%;
        margin-top: 5px;
    }

    .home__title{
        margin-left: -30px;
        margin-top: 200px;
        font-size: 3rem;
    }
    .home__subtitle{
        display: none;
    }
}
/*==================== OUR PRODUCTS ====================*/

.our_products_header {
    margin: 50px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our_products_header span{
    font-size: 2.2rem;
    font-weight: 400;
    color: #252525;
    text-transform: uppercase;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    width: 300px;
    margin: 20px;
    background-color: white;
    transition: 0.5s;
}

.card-img img{
    width: 100%;
    height: 225px;
}

.card-body h2{
    text-align: center;
}

.card-body p{
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer button{
    width: 150px;
    color: white;
    background-color: #202020;
    border: 2px solid;
    border-color: #202020;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 8px 15px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
    transition: 0.2s;
}

.card-footer button:hover{
    background-color: white;
    color: #202020;
    border: 2px solid black;
}

.cards:hover{
    box-shadow: 3.9px 7.8px hsl(0deg 0% 0% / 0.38);
}

.iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*==================== TESTIMONIALS ====================*/


.testimonial {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%; 
}
.testimonial_header {
    margin: 50px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial_header h1{
    font-size: 2.3rem;
    font-weight: 200;
    background-color: #202020;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
.testimonial_header span{
    font-size: 2.2rem;
    color: #252525;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.testimonial_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.testimonial_box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile {
    display: flex;
    align-items: center;
}
.name-user {
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color:#3d3d3d;
    font-size: 1.3rem;
}
.name-user span{
    color: #979797;
    font-size: 1.1rem;
}
.review {
    color: #f9d71c
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comments p{
    color: #4b4b4b; 
}

/*==================== ABOUT ====================*/
 .about_container {
    margin: 0px;
    display: grid;
    flex: content;
    grid-template-columns:  55% 45%;
    background-color: #979797;
    align-items: center;
}  

.about_description {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    margin: 15px 20px 15px 20px;
    text-align: justify;
    align-content: center;
    
}
.about_description>h1 {
    text-align: right;
    color:#f1f1f1;
    font-size: 2.3rem;
    font-weight: 200;
    text-transform: uppercase;
}

.about_description p{
    text-align: center;
    align-items: center;
    color:#d1d1d1
}

.about_image {
    margin: 0;
    width: 100%;
    padding: 20px;
}

/*==================== CONTACT US ====================*/
.contact_us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
 }
 
.contact_us_header {
    margin: 10px 0px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contact_us_header span{
    font-size: 2.2rem;
    color: #252525;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contact_us_header h1{
    font-size: 2.3rem;
    font-weight: 200;
    background-color: #202020;
    color: white;
    padding: 10px 20px;
}

.contact_us_form{
    width: 70vw;
    min-width: 30vw;
    height: 60vh;
    min-height: 20vh;
    box-shadow: 2px 2px 30px rgba(0, 0, 0.1);
    background-color: white;
    padding: 10px;
    margin: 15px;
    display: flex;
    overflow: scroll;
}
.contact_us_form_left{
    width: 40vw;
    min-width: 15vw;
    height: 50vh;
    max-height: 50vh;
    min-height: 400px;
    display: flex;
    position: static;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color:#3d3d3d;
    font-size: 1.5rem;
    font-weight: bold;
}

.contact_us_form_right{
    width: 60vw;
    min-width: 15vw;
    height: 50vh;
    display: flex;
    position: static;
    flex-direction: column;
    margin: 0px 10px;
    font-size: 1.3rem;
}

.contact_us_form_right input {
    cursor: pointer;
    background: #eee; /*Define color de fondo*/    
    border-radius: 10px; /*Redondea borde de casilla.*/
    width: 100%;
    height: 25px;
    padding: 5px;
}

.contact_us_form_right input:focus {
    outline: 0;
}

.contact_us_form_right input p {
    padding: 10px;
    margin: 5px;
}

.asunto {
    cursor: pointer;
    background: #eee; /*Define color de fondo*/    
    border-radius: 10px; /*Redondea borde de casilla.*/
    width: 50%;
    height: 25px;
    padding: 0px 5px;
}
.contact_us_form_right textarea{
    color:#6e6c6c;
    font-size: 1rem;
    height: 150px;
    width: 75%;
    padding: 8px;
}
.contact_us_form_right textarea::placeholder{
    font-weight: bold;
    opacity: .5;
}
.contact_us_form_right .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

/*==================== FIND US ====================*/

.find_us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.336);
 }
 
.find_us_header {
    margin: 30px 0px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 200;
    background-color: #202020;
    color: white;
    padding: 10px 20px;
}

#map {
    width: 70vw;
    height: 40vh;
    min-width: 20vw;
    min-height: 20vh;
    box-shadow: 2px 2px 30px rgba(0, 0, 0.1);
    background-color: white;
    padding: 10px;
    margin: 30px;
    display: flex;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */